<nav class="navbar navbar-light bg-primary mb-3">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1 mx-3">Task Manager</span>
    <div class="justify-content-end" *ngIf="isLoggedIn$ | async">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-link btn btn-danger me-3" (click)="onLogOut()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
    <div class="col-2"></div>
  </div>
</div>

